# Environment Variables Example Template
# Define any public or secret variables needed for your deployment here.

# APP_URL: Your production website URL (e.g., https://your-restaurant-title.vercel.app)
APP_URL="http://localhost:3000"

